<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="common/header :: headerFragment"/>
  <title th:text="#{thymeleaf.list.title}">자유게시판 - 목록</title>
  <th:block th:replace="common/bootstrap :: bootstrapFragment"/>
</head>
<body>
<div class="container-fluid">
  <h1 th:text="#{thymeleaf.list.title}">자유게시판 - 목록</h1>
  <form method="get" action="list.do">
    <div class="row border align-content-center p-2">
      <div class="col-1 align-self-center" th:text="#{thymeleaf.list.search.createdDate}">
        등록일
      </div>
      <div class="col-2">
        <input type="date" class="form-control" name="startDate" th:value="${searchManager.startDate}">
      </div>
      <div class="col-1 align-self-center text-center">
        ~
      </div>
      <div class="col-2">
        <input type="date" class="form-control" name="endDate" th:value="${searchManager.endDate}">
      </div>
      <div class="col-2">
        <select class="form-control" name="categoryId">
          <option value="" th:text="#{thymeleaf.list.search.category}">카테고리</option>

          <th:block th:each="categoryDTO:${categoryList}">
            <option th:value="${categoryDTO.categoryId}"
                    th:text="${categoryDTO.name}"
                    th:selected="${categoryDTO.categoryId} == ${searchManager.categoryId}"></option>
          </th:block>
        </select>
      </div>
      <div class="col-2">
        <input type="text" class="form-control" name="searchWord"
               th:placeholder="#{thymeleaf.list.search.searchWord.placeholder}"
               th:value="${not #strings.isEmpty(searchManager.searchWord) ? searchManager.searchWord : ''}">
      </div>
      <div class="col-2">
        <input type="hidden" name="pageNum" value="1">
        <input type="submit" class="btn btn-primary" th:value="#{thymeleaf.list.search.submit}">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        총 [[${pageDTO.totalCount}]]건
      </div>
    </div>
    <div class="row">
      <div class="col-12">

        <table class="table">
          <thead>
          <tr>
            <td th:text="#{thymeleaf.list.table.category}">카테고리</td>
            <td th:text="#{thymeleaf.list.table.title}">제목</td>
            <td th:text="#{thymeleaf.list.table.writer}">작성자</td>
            <td th:text="#{thymeleaf.list.table.viewCount}">조회수</td>
            <td th:text="#{thymeleaf.list.table.createdDate}">등록 일시</td>
            <td th:text="#{thymeleaf.list.table.modefiedDate}">수정 일시</td>
          </tr>
          </thead>

          <tbody th:if="${#lists.isEmpty(articleList)}">
          <tr>
            <td colspan="6" th:text="#{thymeleaf.list.table.notFound}">검색 결과가 없습니다.</td>
          </tr>
          </tbody>
          <tbody>
          <tr th:each="articleDTO: ${articleList}">
            <td>
              [[${articleDTO.categoryName}]]
            </td>
            <td>
              <a th:href="|view.do?articleId=${articleDTO.articleId}${searchManager.getSearchParamsQuery()}|"
                 th:text="${@validationChecker.SubStringWithSkipMark(articleDTO.title, 80)}">

              </a>
              <span>
                                    [[${(articleDTO.isFileExist) ? "📎" : ""}]]
                </span>
            </td>
            <td>[[${articleDTO.writer}]]
            </td>
            <td>[[${articleDTO.viewCount}]]
            </td>
            <td>[[${(articleDTO.isCreatedDateValid()) ? articleDTO.createdDate
              : "-" }]]
            </td>
            <td>[[${(articleDTO.isModifiedDateValid()) ? articleDTO.modifiedDate
              : "-"}]]
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <th:block th:replace="common/paging :: pagingFragment(${pageDTO}, ${searchManager})">

    </th:block>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <input type="button" class="btn btn-primary" th:value="#{thymeleaf.list.form.write}"
               onclick="movePage('write.do?')"
        />
      </div>
    </div>
  </form>
  <script>
    function movePage(pageName) {
      location.href = pageName + '[(${searchManager.getSearchParamsQuery()})]';
    }
  </script>
</div>
</body>
</html>
