<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="common/header :: headerFragment"/>
  <title th:text="#{thymeleaf.view.title}">자유게시판 - 상세</title>
  <th:block th:replace="common/bootstrap :: bootstrapFragment"/>
</head>
<body>
<div class="container">
  <h1 th:text="#{thymeleaf.view.title}">자유게시판 - 상세</h1>
  <div class="row d-flex">
    <div class="m-2 mr-auto" th:text="${articleDTO.writer}"></div>
    <div class="m-2">
      [[#{thymeleaf.view.content.createdDate}]]
      <span th:text="${#dates.format(articleDTO.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
    </div>
    <div class="m-2">
      [[#{thymeleaf.view.content.modefiedDate}]]
      <span
          th:text="${articleDTO.isModifiedDateValid()} ?
          ${#dates.format(articleDTO.modifiedDate, 'yyyy-MM-dd HH:mm')} :
           '-' "></span>
    </div>
  </div>
  <div class="row">
    <div class="m-2" th:text="|[${articleDTO.categoryName}]|"></div>
    <div class="m-2 mr-auto text-break">[[${articleDTO.title}]]</div>
    <div class="m-2">[[#{thymeleaf.view.content.viewCount}]]: [[${articleDTO.viewCount}]]</div>
  </div>
  <hr>
  <div class="row my-3">
    <div class="w-100 border text-break">
      [[${articleDTO.content}]]
    </div>
  </div>
  <div class="row">
    <div class="w-100">
      <th:block th:if="${articleDTO.isFileExist}" th:each="fileDTO:${fileList}">
        <a href="javascript:void(0);"
           th:onclick="|fileDownload(${fileDTO.fileId}, ${fileDTO.articleId})|">
          [[${fileDTO.fileOriginName}]]
        </a>
        <br>
      </th:block>
    </div>
  </div>
  <div class="row bg-light">
    <div class="col-12">
      <div id="commentList">
        <th:block th:if="${commentList != null}" th:each="commentDTO:${commentList}">
          <div class="row justify-content-start px-2 pt-2"
               th:text="${#dates.format(commentDTO.createdDate, 'yyyy-MM-dd HH:mm')}">
          </div>
          <div class="row border-bottom px-2 pb-3 text-break">
            [[${commentDTO.content}]]
          </div>
        </th:block>
      </div>
      <form method="post" class="w-100"
            id="commentForm">
        <div class="row py-3">
          <div class="col-10">
            <input type="hidden" name="articleId" th:value="${articleDTO.articleId}">
            <textarea id="commentContent" class="form-control w-100 h-100 m-auto" name="content"
                      th:placeholder="#{thymeleaf.view.comment.placeholder}"></textarea>

          </div>
          <div class="col-2">
            <button type="button" class="btn btn-primary w-100 h-100 m-auto"
                    onclick="validateCommentForm()"
            th:text="#{thymeleaf.view.comment.submit}">
              등록
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="w-100 d-flex justify-content-center">
      <button type="button" class="btn btn-primary"
              th:onclick="movePage('list.do?')"
              th:text="#{thymeleaf.view.form.list}">목록
      </button>
      <button type="button" class="btn border"
              th:onclick="|movePage('modify.do?articleId=${articleDTO.articleId}')|"
              th:text="#{thymeleaf.view.form.modify}">
        수정
      </button>
      <button type="button" class="btn border" data-toggle="modal"
              data-target="#passwordCheckModal"
              th:text="#{thymeleaf.view.form.delete}">삭제
      </button>
    </div>
  </div>
</div>

<!-- 패스워드 체크 Modal -->
<div class="modal fade" id="passwordCheckModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form id="deleteForm" method="post"
            class="w-100">
        <input type="hidden" name="articleId" th:value="${articleDTO.articleId}">
        <div class="modal-header">
          <h5 class="modal-title" id="passwordCheckModalTitle"
          th:text="#{thymeleaf.view.delete.title}">비밀번호 확인</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-2" th:text="#{thymeleaf.view.delete.password}">
            비밀번호 *
          </div>
          <div class="col-10">
            <input type="password" class="form-control" name="password"
                   th:placeholder="#{thymeleaf.view.delete.password.placeholder}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
          th:text="#{thymeleaf.view.delete.cancel}">Close
          </button>
          <button type="button" class="btn btn-primary" onclick="articleDeleteAjax()"
          th:text="#{thymeleaf.view.delete.submit}">확인
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>

  function movePage(pageName) {
    location.href = pageName + '[(${searchManager.getSearchParamsQuery()})]';
  }

  function fileDownload(fileId, articleId) {
    $.ajax({
      url: '/file_download.do',
      method: 'GET',
      data: {
        fileId: fileId,
        articleId: articleId
      },
      xhrFields: {
        responseType: 'blob'
      },
      success: function (data, textStatus, jqXHR) {
        var blob = new Blob([data], {type: data.type});
        var link = document.createElement('a');
        link.href = window.URL.createObjectURL(blob);
        link.download = jqXHR.getResponseHeader('Content-Disposition').split('filename=')[1];
        link.click();
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.message);
      }
    });
  }

  function articleDeleteAjax() {
    let form = $('#deleteForm')[0];
    let formData = new FormData(form);
    $.ajax({
      url: 'delete_action.do',
      type: 'post',
      data: formData,
      processData: false,
      contentType: false,
      success: function () {
        movePage('list.do?');
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.message);
      }
    });
  }

  function commentInsertAjax(form) {
    let formData = new FormData(form);
    $('#commentContent').val('');
    $.ajax({
      url: 'comment_write_action.do',
      type: 'post',
      data: formData,
      dataType: 'json',
      processData: false,
      contentType: false,
      success: function (data) {
        let commentList = $('#commentList');
        commentList.empty();
        for (i = 0; i < data.commentList.length; i++) {
          const date = new Date(data.commentList[i].createdDate);
          const formattedCreatedDate = date.toISOString().slice(0, 16).replace('T', ' ');
          var comment = "" +
              "<div class=\"row justify-content-start px-2 pt-2\">" +
              formattedCreatedDate +
              "</div>" +
              "<div class=\"row border-bottom px-2 pb-3 text-break\">" +
              data.commentList[i].content +
              "</td>"
          commentList.append(comment);
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR.responseJSON.message);
      }
    });
  }

  function validateCommentForm() {
    let form = $("#commentForm")[0];

    if (form.content.value == "" || !/^.{1,255}$/g.test(form.content.value)) {
      alert("[[#{thymeleaf.view.comment.validation}]]");
      form.content.focus();
      return false;
    }
    commentInsertAjax(form);
  }

</script>
</body>
</html>