<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="common/header :: headerFragment"/>
  <title th:text="#{thymeleaf.write.title}">자유게시판 - 등록</title>
  <th:block th:replace="common/bootstrap :: bootstrapFragment"/>
</head>

<body>
<div class="container">
  <h1 th:text="#{thymeleaf.write.title}">자유게시판 - 등록</h1>
  <form id="articleForm" name="articleForm" method="post"
        enctype="multipart/form-data">

    <table class="table">
      <tbody>
      <tr>
        <td class="bg-light" th:text="#{thymeleaf.write.form.category}">카테고리 *</td>
        <td>
          <select class="form-control" name="categoryId">
            <option value="" th:text="#{thymeleaf.write.form.category.category}">카테고리</option>
            <th:block th:each="categoryDTO : ${categoryList}">
              <option th:value="${categoryDTO.categoryId}"
                      th:text="${categoryDTO.name}"></option>
            </th:block>
          </select>
        </td>
      </tr>
      <tr>
        <td class="bg-light" th:text="#{thymeleaf.write.form.writer}">작성자 *</td>
        <td><input type="text" class="form-control" name="writer"/></td>
      </tr>

      <tr>
        <td class="bg-light" th:text="#{thymeleaf.write.form.password}">비밀번호 *</td>
        <td>
          <input type="password" class="form-control" name="password" th:placeholder="#{thymeleaf.write.form.password.placeholder}"/>
          <input type="password" class="form-control" name="passwordCheck"
                 th:placeholder="#{thymeleaf.write.form.password.confirm.placeholder}">
        </td>
      </tr>
      <tr>
        <td class="bg-light" th:text="#{thymeleaf.write.form.title}">제목 *</td>
        <td><input type="text" class="form-control" name="title"/></td>
      </tr>
      <tr>
        <td class="bg-light" th:text="#{thymeleaf.write.form.content}">내용 *</td>
        <td><textarea class="form-control" name="content"></textarea></td>
      </tr>
      <tr>
        <td class="bg-light" th:text="#{thymeleaf.write.form.file}">파일첨부</td>
        <td>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileInput1"
                     name="file1">
              <label class="custom-file-label" for="customFileInput1"
                     aria-describedby="inputGroupFile1" th:text="#{thymeleaf.write.form.file.search}">파일 찾기</label>
            </div>
          </div>

          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileInput2"
                     name="file2">
              <label class="custom-file-label" for="customFileInput2"
                     aria-describedby="inputGroupFile2" th:text="#{thymeleaf.write.form.file.search}">파일 찾기</label>
            </div>
          </div>

          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileInput3"
                     name="file3">
              <label class="custom-file-label" for="customFileInput3"
                     aria-describedby="inputGroupFile3" th:text="#{thymeleaf.write.form.file.search}">파일 찾기</label>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <button type="button" class="btn border float-left"
              onclick="movePage('list.do?')"
              th:text="#{thymeleaf.write.form.cancel}">취소
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-primary float-right" onclick="validateForm()"
      th:text="#{thymeleaf.write.form.submit}">저장</button>
    </div>
  </form>
</div>
<script>
  function movePage(pageName) {
    location.href = pageName + '[(${searchManager.getSearchParamsQuery()})]';
  }

  function submitFormAjax(form) {
    let formData = new FormData(form);
    $.ajax({
      url: "/write_action.do",
      type: "post",
      data: formData,
      contentType: false,
      processData: false,
      success: function(data){
        location.href = "list.do?";
      },
      error: function(jqXHR, textStatus, errorThrown){
        alert(jqXHR.responseJSON.message);
      }
    });
  }

  function validateForm() {
    let form = $("#articleForm")[0];
    if (form.categoryId.value == "") {
      alert("[[#{thymeleaf.write.form.category.validation}]]");
      form.categoryId.focus();
      return false;
    }
    if (form.writer.value == "" || !/^.{3,4}$/g.test(form.writer.value)) {
      alert("[[#{thymeleaf.write.form.writer.validation}]]");
      form.writer.focus();
      return false;
    }
    if (form.password.value == ""
        || !/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{4,15}$/.test(
            form.password.value)) {
      alert("[[#{thymeleaf.write.form.password.validation}]]");
      form.password.focus();
      return false;
    }
    if (form.password.value != form.passwordCheck.value) {
      alert("[[#{thymeleaf.write.form.password.confirm.validation}]]");
      form.password.focus();
      return false;
    }
    if (form.title.value == "" || !/^.{4,99}$/g.test(form.title.value)) {
      alert("[[#{thymeleaf.write.form.title.validation}]]");
      form.title.focus();
      return false;
    }
    if (form.content.value == "" || !/^.{4,1999}$/g.test(form.content.value)) {
      alert("[[#{thymeleaf.write.form.content.validation}]]");
      // TODO: 프로퍼티 네임은 전부 소문자, 카멜케이스 쓰면 안됨
      // TODO: 또한 웹 리소스 하위에 요소에는 언더바(_)가 아닌 그냥 대시(-)를 쓸것
      form.content.focus();
      return false;
    }
    submitFormAjax(form);
  }

  // custom file input을 사용하며 선택한 파일 명을 update하기 위한 리스너
  document.querySelectorAll('.custom-file-input').forEach((target) => {
    target.addEventListener('change', (e) => {
      let fileName = e.target.files[0].name;
      let nextSibling = e.target.nextElementSibling
      nextSibling.innerText = fileName
    })
  })
</script>
</body>
</html>
