<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="common/header :: headerFragment"/>
  <title>Error Page</title>
  <th:block th:replace="common/bootstrap :: bootstrapFragment"/>
</head>

<body>
<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center row">
    <div class=" col-12 mt-5">
      <h1 class="fw-bold" th:text="${errorCode}"></h1>
      <h2 class=""
         th:text="${errorMessage}">
      </h2>
      <a href="list.do" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</div>
</body>
</html>